.places{
  padding: 0 148px 0 148px;
  width: 100%;
  /* border: 1px solid white; */
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places{
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 950px) {
  .places{
    padding: 0 24px 0 24px;
  }
}
