.lead{
  padding: 56px 148px 0 148px;
  width: 100%;
  /* border: 1px solid white; */
  box-sizing: border-box;
}


@media screen and (max-width: 1200px) {
  .lead{
    padding: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead{
    padding: 56px 0 0 0;
  }
}


@media screen and (max-width: 767px) {
  .lead{
    padding: 48px 0 0 0;
  }
}
