.header__lang-link_active{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  opacity: 1;
  text-decoration: underline;
}

.header__lang-link_active:hover{
  opacity: 0.8;
}

@media screen and (max-width: 540px) {
  .header__lang-link_active{
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link_active{
    font-size: 18px;
  }
}