@font-face {
    src:url(../fonts/Inter-3.19/Inter\ Web/Inter-Regular.woff2) format('woff2'),
        url(../fonts/Inter-3.19/Inter\ Web/Inter-Regular.woff) format('woff');
    font-family: "Inter";
    font-weight: normal;
  }

@font-face {
  src:url(../fonts/Inter-3.19/Inter\ Web/Inter-ExtraBold.woff2) format('woff2'),
      url(../fonts/Inter-3.19/Inter\ Web/Inter-ExtraBold.woff) format('woff');
  font-family: "Inter";
  font-weight: bold;
}
