.lead__image{
  max-width: 984px;
  display: block;
  margin: 64px auto 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__image{
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image{
    margin-top: 40px;
  }
}
