.footer__nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
  }

  .footer__item {
    width: 100%;
    max-width: 400px;
  }
}