.cover__title{
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto;
  font-weight: 900;
  max-width: 560px;
}

@media screen and (max-width: 767px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
  }
}