.footer__list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 465px;
  width: 100%;
  /* border: solid red; */
  gap: 18px;
}

@media (max-width: 767px) {
  .footer__list {
    flex-direction: column;
    gap: 32px;
  }
}