.places__description{
  /* min-width: 288px; */
  width: 100%;
  grid-area: text;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .places__description{
    font-size: 16px;
  }
  }
