.places__item{
  list-style: none;
  font-family: 'Inter', Arial, sans-serif;
  display: grid;
  /* grid-template-columns:  minmax(1fr, max-content)  minmax(min-content, max-content); */
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title url"
    "image text";
  padding-bottom: 80px;
}

.places__item:last-child{
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__item{
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
  }

@media screen and (max-width: 800px) {
    .places__item{
      grid-template-columns: 340px 1fr;
      grid-gap: 48px 28px;
}
}

@media screen and (max-width: 767px) {
  .places__item{
    grid-template-columns: 320px 1fr;
}
}

@media screen and (max-width: 767px) {
  /* And this */
  .places__item {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding-bottom: 50px;
    /*     comment here */
    grid-template-areas:
        "title"
        "url"
        "image"
        "text";
}
  .galery__title {
    font-size: 32px;
  }
  .galery__description {
    font-size: 16px;
  }

  .places{
    /* padding: 0 16px 0 16px; */
    padding: 0;
  }

  }